* {
    margin: 0;
    padding: 0;
    border: 0;
    /* reset */
  }
    .container {
        background-color: rgb(200, 193, 183);
        width: 500px;;
        height: 300px;
        margin-left: 530px;
        margin-top: 50px;
    }

    h1{
      text-align: center;
      text-decoration-line: underline;
    }

    .listaReceita{
      text-align: justify;
    }

  .para1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    background-color: blueviolet;
  }
  .para2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:large;
    background-color: rgb(199, 233, 88);
  }
  .para3 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    background-color: rgb(116, 187, 241);
  }
  .para4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    background-color: rgb(219, 238, 124);
  }
  .para5 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-small;
    background-color: rgb(226, 43, 153);
  }
  .para6 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-small;
    background-color: rgb(67, 226, 43);
  }